@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  .embla { @apply overflow-hidden; }
  .embla__container { @apply flex; }
  .embla__slide { @apply flex-none min-w-0 relative; }
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}